#dovenv
python-dotenv>=1.0.0
#flask
Flask==3.0.3

#formularios Flask-WTF
Flask-WTF>=1.2.0
#requests 
requests==2.31.0

# conexión AWS
boto3==1.35.87

#pycurl
pycurl==7.45.3

# PyPDF2 para procesar PDFs en RAG
PyPDF2==3.0.1


# Base de datos vectorial Pinecone
pinecone-client==3.2.2
# Modelo para generar embeddings (ej: all-MiniLM-L6-v2) 
sentence-transformers==2.7.0
# Manejo y análisis de datos
pandas==2.2.2

# Servidor WSGI para producción
gunicorn==21.2.0

#Flask-SQLAlchemy==3.1.1
#psycopg2-binary==2.9.9