{% extends 'layouts/frontend.html' %} {% block title%} RAG (Retrieval Augmented Generation) {%endblock%}
<!---->
{% block content %}
<h1>RAG (Retrieval Augmented Generation)</h1>
<ul>
    <li>
        <a href="{{url_for('rag.rag_chatbot_atencion_cliente')}}">Ejercicio 1: RAG con PDF - Chatbot de Atención al Cliente</a>
    </li>
    <li>
        <a href="{{url_for('rag.rag_buscador_recetas')}}">Ejercicio 2: RAG con Pinecode - Buscador Inteligente de Recetas</a>
    </li>
    
    
     
    
</ul>
{% endblock %}