{% extends 'layouts/frontend.html' %} {% block title%} OpenAI {%endblock%}
<!---->
{% block content %}
<h1>OpenAI AI</h1>
<p>https://platform.openai.com/docs/overview</p>
<ul>
    <li>
        <a href="{{url_for('openai.openai_prompt')}}">Prompt básico</a>
    </li>
    <li>
        <a href="{{url_for('openai.openai_consulta')}}">Consulta SQL desde la IA</a>
    </li>
    <li>
        <a href="{{url_for('openai.openai_traductor')}}">Traductor de textos</a>
    </li>
    <li>
        <a href="{{url_for('openai.openai_sentimiento')}}">Análisis de sentimiento</a>
    </li>
    <li>
        <a href="{{url_for('openai.openai_reconocimiento')}}">Reconocimiento de imágenes</a>
    </li>
    <li>
        <a href="{{url_for('openai.openai_dall_e_3')}}">Generación imagen con Dall-E-3</a>
    </li>
    <li>
        <a href="{{url_for('openai.openai_audio')}}">Transcribir Audio</a>
    </li>
    <li>
        <a href="{{url_for('openai.openai_chat_con_historial')}}">Chat con historial</a>
    </li>
</ul>
{% endblock %}