{% extends 'layouts/frontend.html' %} {% block title%} Perplexity {%endblock%}
<!---->
{% block content %}
<h1>Perplexity AI</h1>
<p>https://docs.perplexity.ai/getting-started/overview</p>
<ul>
    <li>
        <a href="{{url_for('perplexity.perplexity_busqueda')}}">Búsqueda básica</a>
    </li>
    <li>
        <a href="{{url_for('perplexity.perplexity_investigacion_avanzada')}}">Investigación Avanzada</a>
    </li>
    <li>
        <a href="{{url_for('perplexity.perplexity_chat_con_historial')}}">Chat con historial</a>
    </li>
    <li>
        <a href="{{url_for('perplexity.perplexity_busqueda_comparativa')}}">Búsqueda comparativa</a>
    </li>
    <li>
        <a href="{{url_for('perplexity.perplexity_citas_automaticas')}}">Citas automáticas</a>
    </li>
</ul>
{% endblock %}